.calendar-wrap {
    max-width: 1100px;
    width: 100%;
    padding: 0 32px;
    margin-top: 32px;
}

.calendar-wrap .title {
    display: flex;
    justify-content: space-between;
}

.calendar-wrap .title h3 {
    font-weight: 600;
}

.calendar-wrap .calendar .week {
    border-bottom-width: 1px;
}

.calendar-wrap .calendar .week,
.calendar-wrap .calendar .date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-wrap .calendar {
    margin-top: 16px;
    border-width: 1px;
}

.calendar-wrap .calendar .week > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-weight: 600;
    color: #444
}

.calendar-wrap .calendar .week > div.sunday {
    color: #222;
}

.calendar-wrap .calendar .week > div.saturday {
    color: #222;
}

.calendar-wrap .calendar .date > div {
    height: 100px;
    overflow: auto;
}

.calendar-wrap .day-background {
    width: 100%;
    padding: 2px 6px;
    color: #777;
    pointer-events: none;
}

.calendar-wrap .day-background.today {
    color: rgb(30, 30, 30);
    font-weight: bold;
}

.calendar-wrap .schedules > li{
    padding: 0 6px;
}

.calendar-wrap .pagination {
    display: flex;
    gap: 16px;
}

.calendar-wrap .calendar .week > div,
.calendar-wrap .calendar .date > div {
    border-right-width: 1px;
}
.calendar-wrap .calendar .date > div:nth-child(7n),
.calendar-wrap .calendar .week > div:nth-child(7) {
    border-right-width: 0px;
}

.calendar-wrap .calendar .date > div {
    border-bottom-width: 1px;
}

.calendar-wrap .calendar .date > div:nth-child(n + 36){
    border-bottom-width: 0px;
}

.calendar-wrap .btn {
    text-decoration: none;
    cursor: pointer;
    transition: scale 0.2s;
}

.calendar-wrap .btn:active {
    transform: scale(0.9);
}