@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    font-size: var(--font-size-base);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ...처리 */
.text-elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
기본 모드
다크 모드
참조: https://www.youtube.com/watch?v=oMOe_32M6ss
참조: https://19-97.tistory.com/159
*/
.negative {
    color: var(--negative);
}

/* login-page */
.login-page {
    @apply  flex items-center flex-1 mx-auto;
}

.login-page-inner {
    @apply w-[400px];
}
/* login-page */

.register-page {
    @apply flex flex-col items-center justify-center flex-1; 
}

.home-page {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.home-page-sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-800);
    color: var(--secondary);
    width: 3rem;
    min-width: 3rem;
}

.home-page-sidebar .sidebar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    font-size: 30px;
    transition: background 0.2s ease-in-out;
}

.home-page-sidebar .sidebar-button.active,
.home-page-sidebar .sidebar-button:hover {
    background-color: var(--gray-600);
}