@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    /* border-bottom: 1px solid black; */
    background-color: rgb(26, 26, 26);
    color: white;
}

.header .title {
    font-size: 20px;
    font-weight: 600;
}

.header .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.header .inner-header .right {
    display: flex;
    gap: 16px;
}

.header .inner-header,
.footer .inner-footer{
    max-width: 1200px;
    width: 100%;
    padding: 0 32px;
}

.input {
    width: 100%;
    border: 1px solid black;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
}